@{
    ViewData["Title"] = "Journal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" action="~/Student/AddPointStudent">
    <div>
        <input type="hidden" name="id" value="@ViewBag.Student.Id"/>
        <input type="text" placeholder="Предмет: " name="Subject" required>
        <input type="number" placeholder="Оцінка: " name="Point" required>
    </div>
    <button type="submit" class="button">Додати оцінку</button>
</form>

<table class="my_table">
    <tr>
        <th>Предмет</th>
        <th>Оцінка</th>
        <th></th>
    </tr>
    @for (var i = 0; i < @ViewBag.Points.Count; i++)
    {
        <tr>
            <td>@ViewBag.Points[i].Subject</td>
            <td>@ViewBag.Points[i].Point</td>

            <td>
                <form asp-action="DeleteStudentPoint" method="post">
                    <input type="hidden" name="pointId" value="@ViewBag.Points[i].Id"/>
                    <input type="hidden" name="studentId" value="@ViewBag.Student.Id"/>

                    <button type="submit" class="text-light btn btn-info">Видалити</button>
                </form>
            </td>
        </tr>    
    }
</table>